body
{
color:rgb(250,245,255);
/*background-image:url("skyPageBack.jpeg"); */

font-weight:normal;color:#737373;background-color:#E9F2F5;letter-spacing:0pt;word-spacing:-1pt;font-size:12px;text-align:left;font-family:verdana, tahoma, arial, sans-serif;line-height:1;margin:24px;padding:19px;width:687px;

background-size:100% 100%;
background-repeat:no-repeat;
}

h3
{
	margin-top: 25px;
	font-size: 20px;
}

li
{
	margin-top: 20px;
}

h1{
	text-align: center;
}
div{
	border: 1px solid;
}
